/* =======================
   RESET BÁSICO
======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body,
html {
  font-family: sans-serif;
  line-height: 1.6;
  overflow-x: hidden;

}

/* =======================
   HEADER
======================= */
.header-cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #0c5f61;
  justify-content: space-around;
  padding: 1rem;

}

.header-cont ul {
  display: flex;
  gap: 2rem;
  font-weight: bold;
  list-style-type: none;
}

.header-cont a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.logo {
  max-width: 100px;
  padding: 0.5rem;
  border-radius: 20px;
}

/* =======================
   BOTÓN RESERVA
======================= */
.cont-reserva {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* =======================
   MENÚ TOGGLE
======================= */
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.nav-menu ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* =======================
   IMAGEN TIENDA
======================= */
.img-ajustada {
  max-width: 100%;
  width: 100%;

}

/* =======================
   MAIN
======================= */

.cont-h2 {
  color: #0c5f61;
  text-align: center;
  font-size: 2.9rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1.5rem;

}

.cont-h3 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  color: #0c5f61;
  padding: 1.5rem;

}

.img-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 1rem;
}

.img-cont p {
  text-align: center;
  font-size: 0.9rem;
  color: rgb(136, 134, 134);



}

.img-cont a {

  color: black;
  text-decoration: none;
}

.img-cont img {
  width: 400px;
  height: 400px;

}

/* =======================
   FOOTER
======================= */

.cont-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  text-align: center;
  max-width: 100%;
  margin-top: 5rem;
    background-color: #0c5f61;


}

.cont-footer img {
  max-width: 500px;
  width: 100px;
  border-radius: 20px;

}

.cont-contactos {
  max-width: 100%;
  width: 20%;
  gap: 3.5rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;


}

.cont-insta {

  max-width: 100px;
}

.cont-insta img {

  width: 50px;
}

.cont-contactos ul {
  list-style-type: none;
  padding: 1rem;
}

.cont-contactos li {

  padding: 0.4rem;
  font-weight: bold;
}

.cont-contactos a {

  text-decoration: none;
}

.cont-span {

  color: white;
  background-color: green;
  font-size: 1.2rem;
  padding: 0.5rem;


}


/* =======================
   MEDIA QUERIES - MÓVILES
======================= */
/* MENU-TOGGLE-HAMBURGUESA-SOLO-MÓVILES*/
@media (max-width: 480px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu.active {
    display: block;
  }

  main {
    margin-top: 100px;
  }

  /* MENU-NAV-HEADER*/

  .nav-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #0c5f61;
    padding: 1rem 0;

  }

  .nav-menu ul {
    flex-direction: column;
    align-items: center;
  }

  /* BOTTOM-RESERVA*/

  .cont-reserva {
    margin-top: 10px;
    font-size: 1rem;
    padding: 10px 16px;
  }

  /* IMAGEN-AJUSTADA-MAIN*/

  .img-ajustada {
    max-width: 100%;
    height: 50vh;
  }

  /* TEXTO-H2-H3-MAIN*/

  .cont-h2 {
    font-size: 2rem;
  }

  .cont-h3 {

    font-size: 1.3rem;
    margin: 0;
    padding: 1rem;
  }

  /*PRODUCTOS-A-VENDER*/

  .img-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .img-cont img {
    width: 160px;
    height: 200px;
  }



  /*FOOTER*/


  .cont-footer {

    padding: 0;
    margin: 0;
    gap: 2rem;
    background-color: #0c5f61;
  }


  .cont-contactos {
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid lightgray;
   border-bottom-width: 4px;
   
   gap: 1rem;
   max-width: 100%;
   width: 100%;

  }


.cont-insta {

    padding: 0.2rem;
  }
  .cont-insta img {

    max-width: 100px;
    width: 80px;
  }
 
  .cont-contactos ul {
padding: 1rem;
  }

  .cont-contactos li {

    padding: 0.5rem;
  }
}




  
